<% if users.present? %>
  <% users.reverse.each do |user| %>
      <div class="posts-post-field">
          <span class="post-user"><b><%= link_to user.name, user_path(user.account_name) %></b></span>
          <span class="post-info">@<%= user.account_name %></span>
          <p class="tag-field-ff">
            <% user.tags.each do |tag| %>
              <span class="tags">
                <i class="fa-solid fa-hashtag"></i> <%= link_to tag.name, search_path(model: 'user', content_type: 'tag', content: tag.name) %>
              </span>
            <% end %>
          </p>
        </div>
      <% end %>
  <% else %>
      <p>ユーザーはいません。</p>
  <% end %>